.footer {
  padding: 10px 15px;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.items-counter {
  color: #777;
  align-content: center;
  font-size: 16px;
}

.filters-wrapper {
  display: flex;
  gap: 10px;
}

.filter-btn {
  border: none;
  background: none;
  color: #777;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.filter-btn_selected {
  border: 1px solid #dadada;
  border-radius: 4px;
}

.clear-btn {
  border: none;
  background: none;
  color: #777;
  cursor: pointer;
  font-size: 16px;
}