* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

ul {
  list-style: none;
}